[user]
	name = You
	email = your@email.address
[core]
	excludesfile = /Users/you/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
	quotepath = false
	ignorecase = false
[merge]
    keepBackup = false
	tool = p4merge
[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$REMOTE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$MERGED\""
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[diff]
    tool = p4merge
[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$REMOTE\"" "\"$LOCAL\""
[alias]
	line = log --oneline --decorate
	tree = log --graph --all --date=short --pretty='format:%C(yellow)%h%Creset %Cgreen%cd%Creset %s %Cblue(%an)%Creset %Cred%d%Creset'
	branches = for-each-ref --sort=committerdate refs/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	ci = commit
	st = status
	br = branch
	co = checkout
[pull]
	rebase = true
[status]
	showUntrackedFiles = all
[commit]
	template = /Users/you/.stCommitMsg
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
